:root {
    --petal-blush: rgb(30, 45, 84); /* BG */
    --antique-cream: rgb(46, 63, 110); /*Secondary BG - Title Page*/
    --bark: rgb(176, 184, 200); /* Font Colour */ 
    --rose-hip: rgb(216, 220, 230); /* Border Col */
    --rose-hip-rgb: 216, 220, 230; /* Border Col - Used in Opaque */
    --terracotta: rgb(139, 108, 92); /* Unused ATM */
    --sage: rgb(125, 148, 120); /* Unused ATM */
    --lighter-bark: rgb(242, 243, 247); /* Footer Background */
    --muted-rose: rgb(46, 63, 110); /* Footer Font Colour */
}